/ejercicio9t3/build/
/ejercicio9t3/dist/
/ejercicio13t3/nbproject/private/
/ejercicio13t3/build/
/ejercicio13t3/dist/
/ejercicio15t3/nbproject/private/
/ejercicio16t3/nbproject/private/
/ejercicio16t3/build/
/ejercicio16t3/dist/
/ejercicio23t3/nbproject/private/
/ejercicio23t3/build/
/ejercicio23t3/dist/
/ejercicio24t3/nbproject/private/
/ejercicio24t3/build/
/ejercicio24t3/dist/
/Ejercicio14T4/nbproject/private/
/Ejercicio14T4/build/
/Ejercicio27t2/nbproject/private/
/Ejercicio27t2/build/
/Ejercicio27t2/dist/
/Ejercicio25t2/nbproject/private/
/Ejercicio25t2/dist/
/Ejercicio25t2/build/
/Ejercicio3t1/nbproject/private/
/Ejercicio3t1/build/
/Ejercicio2t3/nbproject/private/