/ejercicio9t3/build/
/ejercicio9t3/dist/
/ejercicio13t3/nbproject/private/
/ejercicio13t3/build/
/ejercicio13t3/dist/
/ejercicio15t3/nbproject/private/
/ejercicio16t3/nbproject/private/
/ejercicio16t3/build/
/ejercicio16t3/dist/
/ejercicio23t3/nbproject/private/
/ejercicio23t3/build/
/ejercicio23t3/dist/
/ejercicio24t3/nbproject/private/